## Python Data Structures and Boolean 

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

In [ ]:
False

In [ ]:
print(True,False)

In [ ]:
type(True)

In [ ]:
type(False)

In [ ]:
my_str='Krish123'

In [ ]:
my_str.istitle()

In [ ]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

### Boolean and Logical Operators

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
True or False

In [ ]:
True or True

In [ ]:
str_example='Hello World'
my_str='Krish'

In [ ]:
my_str.isalpha() or str_example.isnum()

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [ ]:
type([])

In [ ]:
lst_example=[]

In [ ]:
type(lst_example)

In [ ]:
lst=list()

In [ ]:
type(lst)

In [ ]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [ ]:
len(lst)

In [ ]:
type(lst)

### Append

In [ ]:
#.append is used to add elements in the list
lst.append("Rohit")

In [ ]:
lst

In [ ]:
lst.append(["John","Bala"])

In [ ]:
lst

In [ ]:
##Indexing in List
lst[7]

In [ ]:
lst[:]

In [ ]:
lst[1:]

In [ ]:
lst[1:6]

### Insert

In [ ]:
## insert in a specific order

lst.insert(2,"Naik")

In [ ]:
lst

In [ ]:
lst.append(["Hello","World"])   # Nested list

In [ ]:
lst

In [ ]:
len(lst)

In [ ]:
lst=[1,2,3]

In [ ]:
lst.append([4,5])

In [ ]:
lst

### Extend Method

In [ ]:
lst=[1,2,3,4,5,6]

In [ ]:
lst.extend([8,9])

In [ ]:
lst

### Various Operations that we can perform in List

In [ ]:
lst=[1,2,3,4,5]

In [ ]:
sum(lst)

In [ ]:
lst*5

### Pop() Method

In [ ]:
lst.pop()

In [ ]:
lst

In [ ]:
lst.pop(0)   # 0 indicates the index number

In [ ]:
lst

### count():Calculates total occurrence of given element of List

In [ ]:
lst=[1,1,2,3,4,5]
lst.count(1)

In [ ]:
#length:Calculates total length of List
len(lst)

In [ ]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(5,0,6)

In [ ]:
##Min and Max
min(lst)

In [ ]:
max(lst)

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [ ]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

In [ ]:
set_var={1,2,3,4,3}

In [ ]:
set_var

In [ ]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

In [ ]:
## Inbuilt function in sets

set_var.add("Hulk")

In [ ]:
set_var

In [ ]:
print(set_var)

In [1]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [ ]:
set2.intersection_update(set1)

In [2]:
##Difference 
set2.difference(set1)

{'Hulk2'}

In [ ]:
set2

In [3]:
## Difference update

set2.difference_update(set1)

In [4]:
print(set2)

{'Hulk2'}

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [ ]:
dic={}

In [ ]:
type(dic)

In [ ]:
type(dict())

In [ ]:
set_ex={1,2,3,4,5}

In [ ]:
type(set_ex)

In [5]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [6]:
type(my_dict)

dict

In [7]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [8]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [9]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [10]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [11]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [12]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [ ]:
my_dict['Car1']='MAruti'

In [ ]:
my_dict

### Nested Dictionary

In [13]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [14]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [15]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [16]:
print(car_type['car1']['Mercedes'])

1960

## Tuples

In [ ]:
## create an empty Tuples

my_tuple=tuple()

In [ ]:
type(my_tuple)

In [ ]:
my_tuple=()

In [ ]:
type(my_tuple)

In [17]:
my_tuple=("Krish","Ankur","John")

In [18]:
my_tuple=('Hello','World')

In [19]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [20]:
type(my_tuple)

tuple

In [23]:
## Inbuilt function
my_tuple.count('Hello')

1