In [1]:
import pandas as pd

In [8]:
weather_data = {"temp" : [20, 22, 24, 26],
                "day" : ["Monday", "Tuesday","Wednesday","Thursday"],
                "date" : ["1/1/2021", "2/1/2021", "3/1/2021","4/1/2021"]
               }

In [9]:
weather_data

{'temp': [20, 22, 24, 26],
 'day': ['Monday', 'Tuesday', 'Wednesday', 'Thursday'],
 'date': ['1/1/2021', '2/1/2021', '3/1/2021', '4/1/2021']}

In [10]:
df = pd.DataFrame(weather_data)

In [11]:
df.head()

   temp        day      date
0    20     Monday  1/1/2021
1    22    Tuesday  2/1/2021
2    24  Wednesday  3/1/2021
3    26   Thursday  4/1/2021

In [12]:
df[1:3]

   temp        day      date
1    22    Tuesday  2/1/2021
2    24  Wednesday  3/1/2021

In [ ]:
df.iloc[0, []]